@charset "utf-8";

/*******************************************************
/* This CSS style is inspired by Virb.com.
/* I just use it for non-commercial use.
/* If the owner of this CSS stylesheet doesn't want me use it, please email me.
/*
/* Vayn <vt@elnode.com>
********************************************************/

/* ---------- GLOBAL STYLING & RESET ---------- */

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 12px 0px 12px 0px;
    font: normal 10px/150% "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    color: #525760;
    background: #b1d4e5;
}

#wrapper {
    margin: 0px auto;
    padding-bottom: 10px;
    background: url("../images/bg_site.png") repeat-y bottom center;
    cursor: default;
}

#shell {
    margin: 0px auto;
    background: #b1d4e5 url("../images/bg_site.png") repeat-y top center;
}

ol, ul {
    list-style-type: none;
}

hr {
    display: none;
}

abbr {
    border: none;
}

images {
    border: none;
    -ms-interpolation-mode: bicubic;
}

a {
    color: #00b0d8;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #222222;
}

/* ---------- HEADER STYLES ---------- */
#header {
    margin: 0px auto;
    width: 680px;
    height: 124px;
    position: relative;
    z-index: 1;
}

    /* ---------- NAV ---------- */
    #nav {
        clear: both;
        padding: 0px 20px 0px 280px;
        width: 590px;
        height: 57px;
        position: absolute;
        bottom: -3px;
    }

        /* ---------- Nav Logo ---------- */
        #nav h1 {
            position: absolute;
            top: -48px;
            left: 26px;
            font: 32px 'IM Fell English SC', arial, serif;
            text-shadow: 0px 1px 1px #fff;
        }

        /* ---------- Nav Tabs ---------- */
        #navigation li {
            margin: 0px 15px 0px 0px;
            float: left;
            position: relative;
            border-top: 3px solid transparent;
            border-bottom: none;
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        /* ---------- Link Tabs ---------- */
        #navigation li span a {
            display: block;
            margin-bottom: -4px;
            padding: 15px 20px 15px 20px;
            height: 20px;
            font-size: 16px;
            line-height: 20px;
            white-space: nowrap;
            color: #313d42;
            background-color: #e3e5e7;
            border: 1px solid #e3e5e7;
            border-bottom: 3px solid #dbdce0;
            text-shadow: 0px -1px 1px #eee;
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
            -moz-transition-property: background-color;
            -webkit-transition-property: background-color;
            -moz-transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;
            -moz-transition-timing-function: linear, ease-in;
            -webkit-transition-timing-function: linear, ease-in;
        }

        #navigation li span a:hover {
            background-color: #dbdce0;
            border: 1px solid #dbdce0;
            border-bottom: 3px solid #dbdce0;
        }

/* ---------- CONTENT STYLE ---------- */
#content {
    margin: 0px auto;
    width: 682px;
    padding: 3px;
    background: #e8eaed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    position: relative;
    z-index: 0;
}

#content .container {
    background: #fff;
    border: 1px solid #caccd2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    zoom: 1;
}

#content .container:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    content: ".";
}

#wordlist {
    padding: 0 0 30px 0;
    background: url("../images/bg.gif") repeat-y top right;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

    .word {
        text-align: left;
        margin: 0 auto 10px;
        padding: 10px 20px 25px 20px;
        border-bottom: 1px solid #e3e5e7;
        font-size: 14px;
        line-height: 30px;
    }

/* ---------- FOOTER STYLE ---------- */
#footer {
    margin: 0px auto;
    padding: 20px 30px 10px 30px;
    width: 620px;
    clear: both;
    position: relative;
}

    #footer .b2t, #footer .g2b {
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* ---------- UP AND DOWN ARROW STYLE ---------- */
    #footer .b2t, #footer .g2b{
        background-image: url(../images/b2t.png);
        z-index: 2;
        position: fixed;
        bottom: 20%;
        left: 70px;
        cursor: pointer;
        width: 40px;
        height: 68px
    }

    #footer .g2b{
        background-image: url(../images/g2b.png);
        top: 80% !important;
        bottom: auto
    }

#footer p {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    line-height: 20px;
    vertical-align: middle;
    color: #b5b9c0;
}

    #footer p#lab {
        position: absolute;
        top: 20px;
        right: 30px;
    }

        #footer p#lab a strong {
            margin: 2px -5px 0px 0px;
            display: block;
            width: 28px;
            height: 18px;
            text-indent: 9999px;
            vertical-align: top;
            overflow: hidden;
            background: url("../images/logo_lab.png") no-repeat top left;
            float: left;
        }

/* ---------- PAGINATION STYLE ---------- */
#pagination {
    float: left;
    margin: 12px 0 20px;
    padding-left: 10px;
    font-size: 12px;
}

#pagination a {
    color: #333;
    background: #f3f3ec;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px 11px;
    text-shadow: 0 1px 0 #fff;
}

#pagination a:active {
    background: #ccc;
}

#pagination a:hover {
    border: none;
    border-top: 1px solid #bbb;
    border-left: 1px solid #ddd;
    text-decoration: none;
    text-shadow: 0 -1px 0 #fff;
}

#pagination span.current {
    border: none;
    border-top: 1px solid #bbb;
    border-left: 1px solid #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #1785eb;
    padding: 5px 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #666;
}
