@charset "utf-8";

/*
 *   Project Vaynwords CSS
 *
 *   Author: Jixia Lab <vt@elnode.com>
 *   Site: http://lab.jixia.org/
 *
 *   ver0.5.1
 *
 *   04/30/2010
 *
 */

body {
  background: #e4f2fd url("img/background.png") no-repeat 40px bottom;
  color: #333;
  font-family: XHei, 'Dejavu Sans', Verdana, sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 11px 0px;
  text-align: center;
  text-shadow: #999999 1px 1px 7px;
}

img {
  border: 0;
}

a:link, a:visited, a:active {
  color: #1c7fdb;
  text-decoration: none;
}

a:hover {
  color: #1785eb;
  text-decoration: none;
}

#whale_error {
  margin-bottom: 10px;
}

#whale_error img {
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

#header {
  color: #666;
}

#main {
  margin: 0 auto 0 auto;
  padding: 0 20px 20px 20px;
  width: 700px;
}

.word_fleet {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  padding: 1px 2px;
  width: 700px;
  font-family: "Segoe UI", Verdana, "Lucida Sans Regular", "Lucida Sans Unicode", Arial, sans-serif;
  text-align: left;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.word_box_s {
 padding: 5px 10px; 
}

.word_box_l {
  border-top: 2px solid #eee;
  padding: 5px 10px;
}

.back {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 4px;
  color: #666;
  float: right;
  clear: both;
}

#footer {
  margin-top: -17px;
  font-size: 11px;
}

